# Visual Studio 2015/2017 cache/options directory
.vs/

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/

# Environments
venv/